.emaildata {
  display: flex;
}

.unseenmails {
  display: flex;
  background-color: rgb(228, 224, 224);
  margin: 10px;
  padding: 10px;
  /* width: fit-content; */
  border-radius: 10px;
  font-weight: bold;
  justify-content: space-between;
  cursor: pointer;
}
.seenmails {
  display: flex;
  border-style: solid;
  border-color: rgb(228, 224, 224);
  margin: 10px;
  padding: 10px;
  /* width: fit-content; */
  border-radius: 10px;
  font-weight: bold;
  justify-content: space-between;
  cursor: pointer;
}

.describtion {
  width: 60rem;
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.seenmails button {
    background-color: red;
}

.unseenmails button {
  background-color: red;
}

.greenborder {
  width: 4rem;
  margin: 10px;
  border-style: solid;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-color: green;
}

.redborder {
  width: 4rem;
  margin: 10px;
  border-style: solid;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-color: red;
}

.email {
  margin: 10px;
  /* width: fit-content; */
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}