.seenmails {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.sentmails {
  align-items: center;
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
@media (min-width: 767px) {
.sentmails {
  display: flex;
  align-items: center;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
}

.redborder{
  flex-basis: 10%;
  border: 1px solid red;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  color: red;
  width: 30%;
  text-align: center;
}


